<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitxx.hitao.mapper.ShopAdminRoleMapper">

	<!-- 查询 -->
	<select id="findShopAdminRole" parameterType="map"
		resultMap="shopAdminRoleMap">
		select id,admin_id,role_id from shop_admin_role
		<where>
			<if test="adminId!=null and adminId!=''">
				admin_id=adminId
			</if>
			<if test="roleId!=null and roleId!=''">
				role_id=roleId
			</if>
		</where>
	</select>

	<!-- 增加 -->
	<insert id="addShopAdminRole"
		parameterType="com.hzitxx.hitao.entity.ShopAdminRole">
		insert into shop_admin_role(admin_id,role_id)
		values(#{adminId},#{roleId})
	</insert>

	<!-- 修改 -->
	<update id="updateShopAdminRole"
		parameterType="com.hzitxx.hitao.entity.ShopAdminRole">
		update shop_admin_role set admin_id=#{adminId},role_id=#{roleId}
		where id=#{id}
	</update>

	<!-- 删除 -->
	<delete id="deleteShopAdminRole" parameterType="Integer">
		delete from
		shop_admin_role where id=#{id}
	</delete>

	<resultMap type="com.hzitxx.hitao.entity.ShopAdminRole"
		id="shopAdminRoleMap">
		<id column="id" property="id" />
		<result column="admin_id" property="adminId" />
		<result column="role_id" property="roleId" />
	</resultMap>
</mapper>